alabaster==0.7.9
alembic==0.8.7
anaconda-clean==1.0
anaconda-client==1.5.1
anaconda-navigator==1.3.1
appnope==0.1.0
appscript==1.0.1
argcomplete==1.0.0
astroid==1.4.7
astropy==1.2.1
attrs==16.3.0
Automat==0.5.0
Babel==2.3.4
backports.shutil-get-terminal-size==1.0.0
bcrypt==3.1.0
beautifulsoup4==4.5.1
bitarray==0.8.1
blaze==0.10.1
bokeh==0.12.2
boto==2.42.0
Bottleneck==1.1.0
certifi==2017.7.27.1
cffi==1.7.0
chardet==3.0.4
chest==0.2.3
click==6.6
cloudpickle==0.2.2
clyent==1.2.2
colorama==0.3.7
conda==4.4.11
conda-build==2.0.2
configobj==5.0.6
constantly==15.1.0
contextlib2==0.5.3
coverage==4.2
cryptography==1.5
cssselect==1.0.1
cycler==0.10.0
cymem==1.31.2
Cython==0.24.1
cytoolz==0.8.2
dash==0.18.3
dash-core-components==0.13.0
dash-html-components==0.8.0
dash-renderer==0.11.0
dask==0.11.0
datashape==0.5.2
decorator==4.1.2
dill==0.2.5
dj-database-url==0.4.2
Django==1.11.5
django-crontab==0.7.1
django-excel==0.0.9
django-extensions==1.9.1
docutils==0.12
dominate==2.3.0
dynd==0.7.3.dev1
et-xmlfile==1.0.1
fastcache==1.0.2
filelock==2.0.6
flake8==3.4.1
Flask==0.12.1
Flask-Bcrypt==0.7.1
Flask-Bootstrap==3.1.1.2
Flask-Compress==1.4.0
Flask-Cors==2.1.2
Flask-Login==0.4.1
Flask-Migrate==2.0.0
Flask-Script==0.6.7
Flask-SeaSurf==0.2.2
Flask-SQLAlchemy==1.0
Flask-Testing==0.5.0
Flask-Uploads==0.2.1
flexmock==0.10.2
gevent==1.1.2
GitHub-Flask==3.1.3
google==1.9.3
graphviz==0.8
greenlet==0.4.10
gunicorn==19.6.0
h5py==2.6.0
HeapDict==1.0.0
idna==2.6
imagesize==0.7.1
incremental==16.10.1
ipykernel==4.5.0
ipython==5.1.0
ipython-genutils==0.2.0
ipywidgets==5.2.2
itsdangerous==0.24
jdcal==1.3
jedi==0.9.0
Jinja2==2.7.2
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==4.4.0
jupyter-console==5.0.0
jupyter-core==4.3.0
kmodes==0.7
lazy-object-proxy==1.2.1
llvmlite==0.13.0
lml==0.0.1
locket==0.2.0
lxml==3.6.4
Mako==1.0.4
MarkupSafe==0.21
marshmallow==2.15.0
matplotlib==1.5.3
mccabe==0.6.1
mechanize==0.2.5
mistune==0.7.3
mozscape==0.1.1
mpmath==0.19
multipledispatch==0.4.8
murmurhash==0.26.4
mysql-connector==2.1.4
nb-anacondacloud==1.2.0
nb-conda==2.0.0
nb-conda-kernels==2.0.0
nbconvert==4.2.0
nbformat==4.4.0
nbpresent==3.0.2
networkx==1.11
nltk==3.2.1
nose==1.3.7
notebook==4.2.3
numba==0.28.1
numexpr==2.6.1
numpy==1.13.3
oauthlib==2.0.6
odo==0.5.0
openpyxl==2.4.8
pandas==0.22.0
parsel==1.1.0
partd==0.3.6
path.py==0.0.0
pathlib==1.0.1
pathlib2==2.1.0
patsy==0.4.1
pbr==3.1.1
pep8==1.7.0
pew==1.0.0
pexpect==4.0.1
pickleshare==0.7.4
Pillow==3.3.1
pipenv==8.2.6
pkginfo==1.3.2
plac==0.9.6
plotly==2.0.15
ply==3.9
preshed==0.46.4
prompt-toolkit==1.0.3
psutil==4.3.1
psycopg2==2.7.1
ptyprocess==0.5.1
py==1.4.31
py-bcrypt==0.4
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycodestyle==2.3.1
pycosat==0.6.3
pycparser==2.14
pycrypto==2.6.1
pycurl==7.43.0
PyDispatcher==2.0.5
pyexcel==0.5.3
pyexcel-io==0.5.1
pyexcel-webio==0.1.2
pyexcel-xlsx==0.5.0.1
pyflakes==1.5.0
Pygments==2.1.3
pygraphviz==1.3.1
pylint==1.5.4
pyOpenSSL==16.2.0
pyparsing==2.1.4
pytest==3.0.1
pytest-cov==2.3.1
pytest-flask==0.10.0
python-dateutil==2.6.1
python-editor==1.0.1
pytz==2017.3
PyYAML==3.12
pyzmq==15.4.0
QtAwesome==0.3.3
qtconsole==4.2.1
QtPy==1.1.2
queuelib==1.4.2
redis==2.10.5
requests==2.18.4
requests-oauthlib==0.8.0
rope-py3k==0.9.4.post1
ruamel-yaml===-VERSION
scikit-image==0.12.3
scikit-learn==0.18.1
scipy==1.0.0
scopus==0.4.2
Scrapy==1.3.2
seaborn==0.7.1
selenium==3.0.2
semver==2.7.5
seolib==0.1.3
service-identity==16.0.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
snowballstemmer==1.2.1
sockjs-tornado==1.0.3
spacy==1.6.0
Sphinx==1.4.6
sputnik==0.9.3
spyder==3.0.0
SQLAlchemy==0.9.4
statsmodels==0.8.0
sympy==1.0
tables==3.2.3.1
termcolor==1.1.0
terminado==0.6
texttable==0.9.1
thinc==6.2.0
toolz==0.8.2
tornado==4.4.1
tqdm==4.11.2
traitlets==4.3.2
tweepy==3.5.0
Twisted==17.1.0
ujson==1.35
unicodecsv==0.14.1
urllib3==1.22
virtualenv==15.2.0
virtualenv-clone==0.2.6
visitor==0.1.3
w3lib==1.17.0
wcwidth==0.1.7
Werkzeug==0.9.4
widgetsnbextension==1.2.6
wikipedia==1.4.0
wordcloud==1.2.1
wrapt==1.10.6
xlrd==1.1.0
XlsxWriter==0.9.3
xlwings==0.10.0
xlwt==1.1.2
zope.interface==4.3.3
