{% extends "layout.html" %}
{% block title %}Space Calendar{% endblock %}
{% block subtitle %}My Spaces {% endblock %}
{% block extrasubtitle %}Calendar{% endblock %}
{% block content %}
	<div class="ads-grid_shop">
		<div class="shop_inner_inf">
			<div class="privacy about">
				<h3>Office Space In Raffles Place's Calendar 
					<a href="#" data-toggle="popover" data-placement="bottom" data-trigger="hover" title="Legend" data-content="
					<h5>Available</h5>
					<i class='fa fa-square' style='color:#BE2625;'></i> In Demand<br>
					<i class='fa fa-square' style='color:#ff8080;'></i> Not In Use<br>
					<i class='fa fa-square' style='color:#257e4a;opacity:.3'></i> Already Listed<br>
					<br><h5>Unavailable</h5>
					<i class='fa fa-square' style='color:#257e4a;'></i> Rented<br>
					<i class='fa fa-square' style='color:#3a87ad;'></i> Personal<br>" 
					data-html="true">
						<!-- <span class="fa-stack fa-lg" style="font-size:13px;">
							<i class="fa fa-circle-thin fa-stack-2x"></i>
							<i class="fa fa-question fa-stack-1x"></i>
						</span> -->
						<i class="fa fa-question-circle" aria-hidden="true"></i>
					</a>
					<div class="hide" id="html-div">
						<form class="">
							<div class="form-group">
								<input class="form-control" type="text" placeholder="please enter name"/>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-primary">Send invitation</button>
							</div>
						</form>
					</div>
				</h3><br>
				<div id='calendar'></div>
			</div>
		</div>
	</div>
{% endblock %}