<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Ruumi</title>
	<!-- custom-theme -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //custom-theme -->
	<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="/static/css/shop.css" type="text/css" media="screen" property="" />
	<link href="/static/css/style7.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/static/css/font-awesome.css" rel="stylesheet">
	<link rel="icon" sizes="84x84" href="/static/images/ruumi_logoo.png">
</head>

<body>
	<!-- banner -->
	<div id="mount-point"></div>
	<div class="banner_top" id="home">
		<div class="wrapper_top_w3layouts">

			<div class="header_agileits">
				<div class="mobile-nav-button">
                    <a  id="modal_trigger" href="#modal"><img src="/static/images/logo-login.png" alt="Image" height="35"></a>
                </div>

                <div id="modal" class="popupContainer" style="display:none;">
					<header class="popupHeader">
						<span class="header_title">Login</span>
						<span class="modal_close"><i class="fa fa-times"></i></span>
					</header>
					<section class="popupBody">
						<!-- Login -->
						<div class="user_login">
							<form method="post" action="{{ url_for('do_login') }}">
								<select name="type" hidden>
									<option value="guest" id="guestSelect" selected></option>
									<option value="host" id="hostSelect"></option>
								</select>

								<div class="action_btns">
									<div class="one_half btn btn_red" id="guest" onclick="selectGuest()">Guest</div>
									<div class="one_half last btn" id="host" onclick="selectHost()">Host</div>
								</div>
								</br>
								{% if message %}
								<p style="text-align:center;color:grey;">{{ message }}</p>
								{% endif %}
								<label>Email</label>
								<input name="username" type="email" />
								<br />

								<label>Password</label>
								<input name="password" type="password" />
								<br />
								<button class="one_but btn" type="submit">Login</button>
								<br />
								<br />
								<p style="text-align:center;color:grey;">Don't have an account? <a href="/signup">Sign up now!</a></p>
							</form>
						</div>
					</section>
				</div>
				<div class="clearfix"></div>
			</div>
			<!-- /slider -->
			<div class="slider">
				<div class="callbacks_container">
					<ul class="rslides callbacks callbacks1" id="slider4">
						<li>
							<div class="banner-top2"></div>
						</li>
						<li>
							<div class="banner-top3">
								<div class="banner-info-wthree"></div>
							</div>
						</li>
						<li>
							<div class="banner-top">
								<div class="banner-info-wthree"></div>
							</div>
						</li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>

		</div>
	</div>
	<!-- /Properties -->
	<!-- /newsletter-->
	<div class="newsletter_w3layouts_agile">
		<div class="col-sm-6 newsleft">
			<h3>Sign up for Newsletter !</h3>
		</div>
		<div class="col-sm-6 newsright">
			<form action="#" method="post">
				<input type="email" placeholder="Enter your email..." name="email" required="">
				<input type="submit" value="Submit">
			</form>
		</div>

		<div class="clearfix"></div>
	</div>
	<!-- //newsletter-->
	<!-- footer -->
	<div class="footer_agileinfo_w3">
		<div class="footer_inner_info_w3ls_agileits">
			<div class="col-md-3 footer-left">
				<h2><a href="/">Ruumi</a></h2>
                <p>Spaces for everyone.</p>
				<ul class="social-nav model-3d-0 footer-social social two">
					<li>
						<a href="/static/#" class="facebook">
							<div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
							<div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
						</a>
					</li>
					<li>
						<a href="/static/#" class="twitter">
							<div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
							<div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
						</a>
					</li>
					<li>
						<a href="/static/#" class="instagram">
							<div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
							<div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
						</a>
					</li>
					<li>
						<a href="/static/#" class="pinterest">
							<div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							<div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
						</a>
					</li>
				</ul>
			</div>
			<div class="col-md-9 footer-right">
				<div class="sign-grds">
					<div class="col-md-4 sign-gd">
					</div>

					<div class="col-md-5 sign-gd-two">
						<h4>Contact</h4>
						<div class="address">
							<div class="address-grid">
								<div class="address-left">
									<i class="fa fa-phone" aria-hidden="true"></i>
								</div>
								<div class="address-right">
									<h6>Phone Number</h6>
									<p>+65 9123 5678</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="address-grid">
								<div class="address-left">
									<i class="fa fa-envelope" aria-hidden="true"></i>
								</div>
								<div class="address-right">
									<h6>Email Address</h6>
									<p>Email :<a href="mailto:ruumi@live.com"> ruumi@live.com</a></p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
										
					</div>
					<div class="col-md-3 sign-gd ">
						<h4>Our <span>Information</span></h4>
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#">Blog</a></li>
							<li><a href="#">Press</a></li>
							<li><a href="#">Guidelines</a></li>
						</ul> 		
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="clearfix"></div>

			<p class="copy-right-w3ls-agileits">&copy 2018 Ruumi.</p>
		</div>
	</div>
	</div>
	<!-- //footer -->
    <a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!-- js -->
	<script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
	<!-- //js -->
	<!-- /nav -->
	<script src="/static/js/modernizr-2.6.2.min.js"></script>
	<script src="/static/js/classie.js"></script>
	<script src="/static/js/responsiveslides.min.js"></script>
	<script>
		$(function () {
			$("#slider4").responsiveSlides({
				auto: true,
				pager: true,
				nav: true,
				speed: 1000,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});
		});
	</script>
	<!-- js for portfolio lightbox -->
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="/static/js/move-top.js"></script>
	<script type="text/javascript" src="/static/js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //end-smoth-scrolling -->
 	<script type="text/javascript" src="/static/js/jquery.leanModal.js"></script>
 	<script>
	// Plugin options and code for pop up login form
	$("#modal_trigger").leanModal({
			top: 100,
			overlay: 0.6,
			closeButton: ".modal_close"
	});
	</script>
	<script type="text/javascript">
	function selectGuest() {
	    document.getElementById("guestSelect").selected = "true";
	    var chosen = document.getElementById("guest");
    	chosen.classList.add("btn_red");
    	var notchosen = document.getElementById("host");
    	notchosen.classList.remove("btn_red");
	};
	function selectHost() {
	    document.getElementById("hostSelect").selected = "true";
	    var chosen = document.getElementById("host");
    	chosen.classList.add("btn_red");
    	var notchosen = document.getElementById("guest");
    	notchosen.classList.remove("btn_red");
	}
	</script>
	{% if message %}
	<script type="text/javascript">
		$("#modal_trigger").click();
	</script>
	{% if type == 'host' %}
	<script type="text/javascript">selectHost();</script>
	{% endif %}
	{% endif %}
	
	<script type="text/javascript" src="/static/js/bootstrap-3.1.1.min.js"></script>

</body>

</html>