<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Ruumi</title>
	<!-- custom-theme -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //custom-theme -->
	<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="/static/css/shop.css" type="text/css" media="screen" property="" />
	<link href="/static/css/style7.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- font-awesome-icons -->
	<link href="/static/css/font-awesome.css" rel="stylesheet">
	<!-- //font-awesome-icons -->
<!-- 	<link href="//fonts.googleapis.com/css?family=Montserrat:100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
	    rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet"> -->
	<link rel="manifest" href="/static/manifest.json"/>
	<link rel="icon" sizes="84x84" href="/static/images/ruumi_logoo.png">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-title" content="Ruumi"/>
    <link rel="apple-touch-icon" href="/static/images/apple_logo.png" sizes="84x84"/>
    <link rel="apple-touch-icon" href="/static/images/apple_logo.png" sizes="150x150"/>
    <link rel="apple-touch-icon" href="/static/images/apple_logo.png" sizes="300x300"/>
    <link rel="apple-touch-icon" href="/static/images/apple_logo.png" sizes="600x600"/>
    <link rel="apple-touch-icon" href="/static/images/apple_logo.png" sizes="24x24"/>
    <meta name="msapplication-TileImage" content="/static/images/apple_logo.png"/>
    <meta name="msapplication-TileColor" content="#FFFFFF"/>
    <meta name="theme-color" content="#FFFFFF"/>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

</head>

<body>
	<!-- banner -->
	<div id="mount-point"></div>
	<div class="banner_top" id="home">
		<div class="wrapper_top_w3layouts">

			<div class="header_agileits">
				<div class="mobile-nav-button">
                    <a  id="modal_trigger" href="#modal"><img src="/static/images/logo-login.png" alt="Image" height="35"></a>
                </div>

                <div id="modal" class="popupContainer" style="display:none;">
					<header class="popupHeader">
						<span class="header_title">Login</span>
						<span class="modal_close"><i class="fa fa-times"></i></span>
					</header>
					<section class="popupBody">
						<!-- Guest Login -->
						<div class="user_login">
							<div class="action_btns">
								<div class="one_half"><a href="#" id="login_form" class="btn btn_red">Guest</a></div>
								<div class="one_half last"><a href="#" id="register_form" class="btn">Host</a></div>
							</div>
							<form>
								</br>
								<label>Username</label>
								<input type="email" />
								<br />

								<label>Password</label>
								<input type="password" />
								<br />

								<div class="action_btns">
										<div class="one_but"><a href="/guest/" class="btn">Login</a></div>
								</div>
							</form>
						</div>
						<!-- Host Login -->
						<div class="user_register">
							<div class="action_btns">
								<div class="one_half"><a href="#" id="login_form" class="btn">Guest</a></div>
								<div class="one_half last"><a href="#" id="register_form" class="btn btn_red">Host</a></div>
							</div>
							<form>
								</br>

								<label>Username</label>
								<input type="email" />
								<br />

								<label>Password</label>
								<input type="password" />
								<br />

								<div class="action_btns">
									<div class="one_but"><a href="/host/" class="btn">Login</a></div>
								</div>
							</form>
						</div>
					</section>
				</div>
                <!-- search -->
                <div class="search_w3ls_agileinfo">
                    <div class="cd-main-header">
                        <ul class="cd-header-buttons">
                            <li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
                        </ul>
                    </div>
                    <div id="cd-search" class="cd-search">
                        <form action="#" method="post">
                            <input name="Search" type="search" placeholder="Click enter after typing...">
                        </form>
                    </div>
                </div>
                <!-- //search -->


				<div class="clearfix"></div>
			</div>
			<!-- /slider -->
			<div class="slider">
				<div class="callbacks_container">
					<ul class="rslides callbacks callbacks1" id="slider4">

						<li>
							<div class="banner-top2">
							</div>
						</li>
						<li>
							<div class="banner-top3">
								<div class="banner-info-wthree">
								</div>

							</div>
						</li>
						<li>
							<div class="banner-top">
								<div class="banner-info-wthree">
								</div>

							</div>
						</li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>

		</div>
	</div>
	<!-- /Properties -->
	<div class="mid_slider_w3lsagile">
		<div class="col-md-3 mid_slider_text">
			<h5>Ruumi available...</h5>
		</div>
		<div class="col-md-9 mid_slider_info">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1" class=""></li>
					<li data-target="#myCarousel" data-slide-to="2" class=""></li>
					<li data-target="#myCarousel" data-slide-to="3" class=""></li>
				</ol>
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<div class="row">
							<div class="col-md-3 col-sm-3 col-xs-3 slidering">
								<div class="thumbnail"><a href="/space123/"><img src="/static/images/space1.jpeg" alt="Image" style="max-width:100%;"></a></div>
							</div>
							<div class="col-md-3 col-sm-3 col-xs-3 slidering">
								<div class="thumbnail"><img src="/static/images/space3.jpg" alt="Image" style="max-width:100%;"></div>
							</div>
							<div class="col-md-3 col-sm-3 col-xs-3 slidering">
								<div class="thumbnail"><img src="/static/images/space4.jpg" alt="Image" style="max-width:100%;"></div>
							</div>
							<div class="col-md-3 col-sm-3 col-xs-3 slidering">
								<div class="thumbnail"><img src="/static/images/space5.jpeg" alt="Image" style="max-width:100%;"></div>
							</div>
						</div>
					</div>
				</div>
				<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="fa fa-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
				<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="fa fa-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
				<!-- The Modal -->

			</div>
		</div>

		<div class="clearfix"> </div>
	</div>
	<!--//banner -->

	<!-- /newsletter-->
	<div class="newsletter_w3layouts_agile">
		<div class="col-sm-6 newsleft">
			<h3>Sign up for Newsletter !</h3>
		</div>
		<div class="col-sm-6 newsright">
			<form action="#" method="post">
				<input type="email" placeholder="Enter your email..." name="email" required="">
				<input type="submit" value="Submit">
			</form>
		</div>

		<div class="clearfix"></div>
	</div>
	<!-- //newsletter-->
	<!-- footer -->
	<div class="footer_agileinfo_w3">
		<div class="footer_inner_info_w3ls_agileits">
			<div class="col-md-3 footer-left">
				<h2><a href="/">Ruumi</a></h2>
                <p>Spaces for everyone.</p>
				<ul class="social-nav model-3d-0 footer-social social two">
					<li>
						<a href="/static/#" class="facebook">
							<div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
							<div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
						</a>
					</li>
					<li>
						<a href="/static/#" class="twitter">
							<div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
							<div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
						</a>
					</li>
					<li>
						<a href="/static/#" class="instagram">
							<div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
							<div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
						</a>
					</li>
					<li>
						<a href="/static/#" class="pinterest">
							<div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							<div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
						</a>
					</li>
				</ul>
			</div>
			<div class="col-md-9 footer-right">
				<div class="sign-grds">
					<div class="col-md-4 sign-gd">
					</div>

					<div class="col-md-5 sign-gd-two">
						<h4>Contact</h4>
						<div class="address">
							<div class="address-grid">
								<div class="address-left">
									<i class="fa fa-phone" aria-hidden="true"></i>
								</div>
								<div class="address-right">
									<h6>Phone Number</h6>
									<p>+65 9123 5678</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="address-grid">
								<div class="address-left">
									<i class="fa fa-envelope" aria-hidden="true"></i>
								</div>
								<div class="address-right">
									<h6>Email Address</h6>
									<p>Email :<a href="mailto:ruumi@live.com"> ruumi@live.com</a></p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
										
					</div>
					<div class="col-md-3 sign-gd ">
						<h4>Our <span>Information</span></h4>
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#">Blog</a></li>
							<li><a href="#">Press</a></li>
							<li><a href="#">Guidelines</a></li>
						</ul> 		
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="clearfix"></div>

			<p class="copy-right-w3ls-agileits">&copy 2018 Ruumi.</p>
		</div>
	</div>
	</div>
	<!-- //footer -->
    <a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!-- js -->
	<script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
	<!-- //js -->
	<!-- /nav -->
	<script src="/static/js/modernizr-2.6.2.min.js"></script>
	<script src="/static/js/classie.js"></script>
<!-- 	<script src="/static/js/demo1.js"></script>
 -->	<!-- //nav -->
	<!-- cart-js -->
<!-- 	<script src="/static/js/minicart.js"></script>
	<script>
		shoe.render();

		shoe.cart.on('shoe_checkout', function (evt) {
			var items, len, i;

			if (this.subtotal() > 0) {
				items = this.items();

				for (i = 0, len = items.length; i < len; i++) {}
			}
		});
	</script> -->
	<!-- //cart-js -->
	<!--search-bar-->
	<script src="/static/js/search.js"></script>
	<!--//search-bar-->
	<script src="/static/js/responsiveslides.min.js"></script>
	<script>
		$(function () {
			$("#slider4").responsiveSlides({
				auto: true,
				pager: true,
				nav: true,
				speed: 1000,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});
		});
	</script>
	<!-- js for portfolio lightbox -->
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="/static/js/move-top.js"></script>
	<script type="text/javascript" src="/static/js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //end-smoth-scrolling -->
<!-- 	<script src='https://andwecode.com/wp-content/uploads/2015/10/jquery.leanModal.min_.js'></script>
 -->
 	<script type="text/javascript">(function($){$.fn.extend({leanModal:function(options){var defaults={top:100,overlay:0.5,closeButton:null};var overlay=$("<div id='lean_overlay'></div>");$("body").append(overlay);options=$.extend(defaults,options);return this.each(function(){var o=options;$(this).click(function(e){var modal_id=$(this).attr("href");$("#lean_overlay").click(function(){close_modal(modal_id)});$(o.closeButton).click(function(){close_modal(modal_id)});var modal_height=$(modal_id).outerHeight();var modal_width=$(modal_id).outerWidth();
$("#lean_overlay").css({"display":"block",opacity:0});$("#lean_overlay").fadeTo(200,o.overlay);$(modal_id).css({"display":"block","position":"fixed","opacity":0,"z-index":11000,"left":50+"%","margin-left":-(modal_width/2)+"px","top":o.top+"px"});$(modal_id).fadeTo(200,1);e.preventDefault()})});function close_modal(modal_id){$("#lean_overlay").fadeOut(200);$(modal_id).css({"display":"none"})}}})})(jQuery);</script>	
 	<script>
	// Plugin options and code for pop up login form
	$("#modal_trigger").leanModal({
			top: 100,
			overlay: 0.6,
			closeButton: ".modal_close"
	});
	</script>
	<script type="text/javascript">
	$(function() {
		// Calling Host Form
		$("#register_form").click(function() {
			$(".user_login").hide();
			$(".user_register").show();
			return false;
		});

		// Calling Guest Form
		$("#login_form").click(function() {
			$(".user_login").show();
			$(".user_register").hide();
			return false;
		});
	});
	</script>

	<script type="text/javascript" src="/static/js/bootstrap-3.1.1.min.js"></script>
	<!-- so that wont open in safari -->
	<script type="text/javascript">
	$("a").click(function (event) {
	    event.preventDefault();
	    window.location = $(this).attr("href");
	});
    </script>


</body>

</html>