<!DOCTYPE html>
<html lang="zxx">
  	<head>
		{% block head %}
		<title>Ruumi - {% block title %}{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script type="application/x-javascript">
		  addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		  }, false);

		  function hideURLbar() {
			window.scrollTo(0, 1);
		  }
		</script>
		<!-- //custom-theme -->
		<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<link rel="stylesheet" href="/static/css/shop.css" type="text/css" media="screen" property="" />
		<link href="/static/css/style7.css" rel="stylesheet" type="text/css" media="all" />
		<link rel="stylesheet" href="/static/css/flexslider.css" type="text/css" media="screen" />
		<link href="/static/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
		<!-- Owl-carousel-CSS -->
		<link rel="stylesheet" type="text/css" href="/static/css/jquery-ui1.css">
		<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
		<!-- font-awesome-icons -->
		<link href="/static/css/font-awesome.css" rel="stylesheet">
		<!-- //font-awesome-icons -->
		<script type="text/javascript" src="http://services.iperfect.net/js/IP_generalLib.js"></script>
		<style>
		#customers {
			font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
			border-collapse: collapse;
			width: 100%;
		}
		#customers td, #customers th {
			border: 1px solid #ddd;
			padding: 8px;
		}
		#customers tr:nth-child(even){background-color: #f2f2f2;}
		#customers tr:hover {background-color: #ddd;}
		#customers th {
			padding-top: 12px;
			padding-bottom: 12px;
			text-align: left;
			background-color: #b0c4de;
			color: white;
		}
		#hoverli {
			position: relative;
			display: inline-block;
		}
		.actions_menu {
		  right: 0px;
		  display: none;
		  position: absolute;
		  background-color: #f1f1f1;
		  min-width: 120px;
		  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		  z-index: 1;
		}
		.actions_menu a {
		  color: black;
		  padding: 12px 16px;
		  text-decoration: none;
		  display: block;
		}
		/* Change color of dropdown links on hover */
		.actions_menu a:hover {background-color: #ddd}
		/* Show the dropdown menu on hover */
		#hoverli:hover .actions_menu {
			display: block;
		}


		</style>
		{% if sub %}
		<link href='/static/css/fullcalendar.min.css' rel='stylesheet' />
		<link href='/static/css/fullcalendar.print.min.css' rel='stylesheet' media='print' />
		<script src='/static/js/lib/moment.min.js'></script>
		<script src='/static/js/lib/jquery.min.js'></script>
		<script src='/static/js/fullcalendar.min.js'></script>
		<script>
		var today = moment().day();
	  	$(document).ready(function() {
	    	$('#calendar').fullCalendar({
	      		header: {
	        		left: 'prev,next today',
	        		center: 'title',
	        		right: 'agendaWeek,agendaDay,listWeek'
	      		},
		      	defaultView: 'agendaWeek',
		      	firstDay: today,
		      	// defaultDate: '2018-04-01',
		      	navLinks: true, // can click day/week names to navigate views
		      	editable: false,
		      	eventLimit: true, // allow "more" link when too many events
		      	minTime: "07:00:00",
        		maxTime: "22:00:00",
        		allDaySlot: false,
        		timeFormat: 'hh:mm a',
        		droppable:false,
        		viewDisplay: function(view){
			        $('.fc-day').filter(
			          function(index){
			          return moment( $(this).data('date') ).isBefore(moment(),'day') 
			        }).addClass('fc-other-month');
			    },  
		     	events: [
		        {
		          	title: 'All Day Event',
		          	start: '2018-04-01T07:00:00',
		          	end: '2018-04-01T22:00:00',
		          	overlap: false,
		          	// color: '#708090',
		        },
		        {	//available for rent
		        	title: 'Rented by Janet Tan',
		          	start: '2018-04-02T12:00:00',
		          	end: '2018-04-02T17:00:00',
		          	color: '#257e4a',
		        },
		        {
		        	id: 1,
		          	title: 'Rent It Out',
		          	start: '2018-04-06T07:00:00',
		          	end: '2018-04-06T08:00:00',
		          	color: '#BE2625',
		          	editable: true
		        },
		        {
		          	title: 'Sentosa Outing',
		          	start: '2018-04-06T08:00:00',
		          	end: '2018-04-06T15:30:00',
		          	overlap: false,
		          	// color: '#708090',
		        },
		        {
		        	id: 123,
		          	title: 'Rent It Out',
		          	start: '2018-04-06T15:30:00',
		          	end: '2018-04-06T22:00:00',
		          	color: '#BE2625',
		          	editable: true
		        },
		        {	//available for rent
		          	start: moment(),
		          	end: '2018-04-04T22:00:00',
		          	color: '#257e4a',
		          	rendering: 'background',
		        },
		        {	//robin rental
		          	title: 'Rented by Robin Lee',
		          	start: '2018-04-05T07:00:00',
		          	end: '2018-04-05T12:00:00',
		          	overlap: false,
		          	color: "#257e4a",
		        },
		        {	//alok rental
		          	title: 'Rented by Alok Singer',
		          	start: '2018-04-05T15:30:00',
		          	end: '2018-04-05T16:30:00',
		          	overlap: false,
		          	color: "#257e4a",
		        },
		        {	//available for rent
		          	start: '2018-04-05T12:00:00',
		          	end: '2018-04-05T22:00:00',
		          	color: '#257e4a',
		          	rendering: 'background',
		        },
		        {
		          	title: 'All Day Event',
		          	start: '2018-04-03T07:00:00',
		          	end: '2018-04-03T22:00:00',
		          	overlap: false,
		          	// color: '#708090',
		        },
		        {	//rent it out
		        	id: 124,
		        	title: 'Rent It Out',
		          	start: '2018-04-07T07:00:00',
		          	end: '2018-04-07T18:00:00',
		          	color: '#BE2625',
		          	resize: true,
		          	editable: true,
		      //     	constraint: {
		      //     		start:'2018-04-07T07:00:00',
        				
    				// }
		        },
		        {
		          	title: 'Skype Conference Meeting',
		          	start: '2018-04-07T18:00:00',
		          	end: '2018-04-07T22:00:00',
		          	overlap: false,
		          	// color: '#708090',
		        },
		      	],
		      	eventClick: function(event, element) {
		      		if (event.color == '#BE2625') { //available for rent
		      			alert(moment());
		      			if (confirm('Make it available for rent?')) {
			      			event.color = "#257e4a";
			      			event.rendering = 'background';
			      			$('#calendar').fullCalendar('updateEvent', event);
			      			if (event.id == 124 && (event.end.isBefore(moment.utc('2018-04-07T18:00:00')))) { //if it's the saturday event 
				      			var event = {
				      				id:125,
				      				title: 'Rent It Out',
				      				start:event.end,
				      				end:'2018-04-07T18:00:00',
				      				color:'#BE2625'
				      			};
			      				$('#calendar').fullCalendar( 'renderEvent', event, true);
			      			}
		      			}
		      		}
		    	}
			});

		});

		</script>
		<style>
			#calendar {
		    	max-width: 900px;
		   		margin: 0 auto;
		  	}
		  	.fc-content .fc-time span {
		  		font-size: 1.2em;
			};

		</style>
		{% endif %}
		
<!-- 		<link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css" rel="stylesheet" />
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script> -->
		{% endblock %}
  	</head>
 	<body>
		<!-- banner -->
		<div class="banner_top innerpage" id="home">
		  	<div class="wrapper_top_w3layouts">
				<div class="header_agileits">
			 		<div class="mobile-nav-button">
						<div id="hoverli">
					 		<img src="/static/images/t3.png" alt="Image" height="35">
						  	<div class="actions_menu">
						  		<a href="/myrentals/">My Rentals</a>
								<a href="/myspaces/">My Spaces</a>
								<a href="/dashboard/">Dashboard</a>
								<a href="">Account Settings</a>
								<a href="/">Log Out</a>
						  	</div>
						</div>
			  		</div>
				</div>
	  		</div>
			<!-- search -->
			<div class="search_w3ls_agileinfo">
				<div class="cd-main-header">
					<ul class="cd-header-buttons">
						<li><a class="cd-search-trigger" href="/static/#cd-search"> <span></span></a></li>
					</ul>
				</div>
				<div id="cd-search" class="cd-search">
					<form action="#" method="post">
						<input name="Search" type="search" placeholder="Click enter after typing...">
					</form>
				</div>
			</div>
			<!-- //search -->
		  	<div class="clearfix"></div>
		  	<!-- banner_inner -->
		 	<div class="services-breadcrumb_w3ls_agileinfo">
				<div class="inner_breadcrumb_agileits_w3">
				  	<ul class="short">
						<li><a href="/host/">Home</a></li>
						<li><i>|</i>{% block subtitle %}{% endblock %}</li>
						{% if sub %}<li><i>|</i>{% block extrasubtitle %}{% endblock %}</li>{% endif %}
				  	</ul>
				</div>
		  	</div>
		  	<!-- //banner_inner -->
		</div>
		<!-- //banner -->
		{% block content %}{% endblock %}
		{% block footer %}
		<!-- footer -->
	  	<div class="footer_agileinfo_w3">
			<div class="footer_inner_info_w3ls_agileits">
				<div class="col-md-3 footer-left">
					<h2><a href="/">Ruumi</a></h2>
					<p>Spaces for everyone.</p>
					<ul class="social-nav model-3d-0 footer-social social two">
						<li>
							<a href="/static/#" class="facebook">
								<div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
								<div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
							</a>
						</li>
						<li>
							<a href="/static/#" class="twitter">
								<div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
								<div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
							</a>
						</li>
						<li>
							<a href="/static/#" class="instagram">
								<div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
								<div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
							</a>
						</li>
						<li>
							<a href="/static/#" class="pinterest">
								<div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
								<div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-9 footer-right">
					<div class="sign-grds">
						<div class="col-md-4 sign-gd"></div>
						<div class="col-md-5 sign-gd-two">
							<h4>Contact</h4>
							<div class="address">
								<div class="address-grid">
									<div class="address-left">
										<i class="fa fa-phone" aria-hidden="true"></i>
									</div>
									<div class="address-right">
										<h6>Phone Number</h6>
										<p>+65 9123 5678</p>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="address-grid">
									<div class="address-left">
										<i class="fa fa-envelope" aria-hidden="true"></i>
									</div>
									<div class="address-right">
										<h6>Email Address</h6>
										<p>Email :<a href="mailto:ruumi@live.com"> ruumi@live.com</a></p>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>		
						</div>
						<div class="col-md-3 sign-gd ">
							<h4>Our <span>Information</span></h4>
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">Blog</a></li>
								<li><a href="#">Press</a></li>
								<li><a href="#">Guidelines</a></li>
							</ul>       
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
				<p class="copy-right-w3ls-agileits">&copy 2018 Ruumi.</p>
			</div>
		</div>
		<!-- //footer -->
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
		{% if not sub %}<script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>{% endif %}
		<!-- single -->
		<script src="/static/js/imagezoom.js"></script>
		<!-- single -->
		<!-- script for responsive tabs -->
		<script src="/static/js/easy-responsive-tabs.js"></script>
		<script>
			$(document).ready(function () {
				$('#horizontalTab').easyResponsiveTabs({
					type: 'default', //Types: default, vertical, accordion           
					width: 'auto', //auto or any width like 600px
					fit: true, // 100% fit in a container
					closed: 'accordion', // Start closed if in accordion view
					activate: function (event) { // Callback function if tab is switched
						var $tab = $(this);
						var $info = $('#tabInfo');
						var $name = $('span', $info);
						$name.text($tab.text());
						$info.show();
					}
				});
				$('#verticalTab').easyResponsiveTabs({
					type: 'vertical',
					width: 'auto',
					fit: true
				});
			});
		</script>
		<!-- FlexSlider -->
		<script src="/static/js/jquery.flexslider.js"></script>
		<script>
			// Can also be used with $(document).ready()
			$(window).load(function () {
				$('.flexslider').flexslider({
					animation: "slide",
					controlNav: "thumbnails"
				});
			});
		</script>
		<!-- //FlexSlider-->
		<script type="text/javascript">
			jQuery(document).ready(function ($) {
				$("#hoverli").hover(
					function () {
						$('#actions_menu').finish().slideDown('fast');
					},
					function () {
						$('#actions_menu').finish().slideUp('fast');
					}
				);
			});
		</script>
		<!--search-bar-->
		<script src="/static/js/search.js"></script>
		<!--//search-bar-->
		<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="/static/js/move-top.js"></script>
		<script type="text/javascript" src="/static/js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function ($) {
				$(".scroll").click(function (event) {
					event.preventDefault();
					$('html,body').animate({
						scrollTop: $(this.hash).offset().top
					}, 1000);
				});
			});
		</script>
		<!-- //end-smoth-scrolling -->
		<script type="text/javascript" src="/static/js/bootstrap-3.1.1.min.js"></script>
		<!-- so that wont open in safari -->
		<script type="text/javascript">
		$("a").click(function (event) {
		    event.preventDefault();
		    window.location = $(this).attr("href");
		});
		</script>
		{% endblock %}
  	</body>
</html>