{% extends "layout.html" %}
{% block title %}My Rentals{% endblock %}
{% block subtitle %}My Rentals{% endblock %}
{% block content %}
	<div class="ads-grid_shop">
		<div class="shop_inner_inf">
			<div class="privacy about">
				<h3>Upcoming rentals</h3>
				<br>
				<table id="customers">
				  <tr>
				    <th>Space</th>
				    <th>Details</th>
				  </tr>
				  <tr>
				    <td valign="top"><img src="/static/images/new.png" alt="Image" height="20"><br><p style="padding-left:3px">Office Space In Raffles Place</p></td>
				    <td>By 
				    	<img src="/static/images/user.png" alt="Image" height="35"> Alok Singer<br>
				    	Date: 5 April 2018<br>
				    	Time: 3:30pm - 4:30pm<br>
				    	Duration: 1 Hours<br></td>
				  </tr>
				  <tr>
				    <td valign="top"><br><p style="padding-left:3px">Office Space In Raffles Place</p></td>
				    <td>By 
				    	<img src="/static/images/robin.png" alt="Image" height="35"> Robin Lee<br>
				    	Date: 5 April 2018<br>
				    	Time: 7:00am - 12:00pm<br>
				    	Duration: 6 Hours<br></td>
				  </tr>
				</table>
			</div>

			<div class="privacy about">
				<br>
				<br>
				<h3>Past rentals <span style="float:right;font-size:15px">Powered by <img src="/static/images/hyperledger.png" height="30"></span></h3>
				<br>
				<table id="customers">
				  <tr>
				    <th>Space</th>
				    <th>Details</th>
				  </tr>
				  <tr>
				    <td valign="top"><br><p style="padding-left:3px">Office Space In Raffles Place</p></td>
				    <td>By 
				    	<img src="/static/images/janet.png" alt="Image" height="35"> Janet Tan<br>
				    	Date: 2 April 2018<br>
				    	Time: 12:00pm - 5:00pm<br>
				    	Duration: 5 Hours<br></td>
				  </tr>
				  <tr>
				    <td valign="top"><br><p style="padding-left:3px">Convenient room in Chinatown</p></td>
				    <td>By 
				    	<img src="/static/images/user.png" alt="Image" height="35"> Alok Singer<br>
				    	Date: 30 March 2018<br>
				    	Time: 11:30am - 1:30pm<br>
				    	Duration: 2 Hours<br></td>
				  </tr>
				  <tr>
				    <td valign="top"><br><p style="padding-left:3px">Convenient room in Chinatown</p></td>
				    <td>By 
				    	<img src="/static/images/robin.png" alt="Image" height="35"> Robin Lee<br>
				    	Date: 30 March 2018<br>
				    	Time: 7:30pm - 9:30pm<br>
				    	Duration: 2 Hours<br></td>
				  </tr>
				  <tr>
				    <td valign="top"><br><p style="padding-left:3px">Office Space In Raffles Place</p></td>
				    <td>By 
				    	<img src="/static/images/janet.png" alt="Image" height="35"> Janet Tan<br>
				    	Date: 29 March 2018<br>
				    	Time: 7:30pm - 9:30pm<br>
				    	Duration: 2 Hours<br></td>
				  </tr>
				  <tr>
				    <td valign="top"><br><p style="padding-left:3px">Office Space In Raffles Place</p></td>
				    <td>By 
				    	<img src="/static/images/janet.png" alt="Image" height="35"> Janet Tan<br>
				    	Date: 25 March 2018<br>
				    	Time: 7:30pm - 9:30pm<br>
				    	Duration: 2 Hours<br></td>
				  </tr>
				</table>
			</div>


		</div>

		<div class="clearfix"></div>
	</div>
{% endblock %}

