{% extends "layout.html" %}
{% block title %}My Rentals{% endblock %}
{% block subtitle %}My Rentals{% endblock %}
{% block content %}
	<div class="ads-grid_shop">
		<div class="shop_inner_inf">
			<div class="privacy about">
				<h3>Upcoming rentals</h3>
				<br>
				<table id="customers">
				  <tr>
				    <th>Space</th>
				    <th>Details</th>
				  </tr>
				  {% for rental in rentals %}
				  {% if not rental.before %}
				  <tr>
				    <td valign="top"><br><p style="padding-left:3px">{{rental.property.Name}}</p></td>
				    <td>By 
				    	<img src="/static/uploads/{{rental.finder.picture}}.png" alt="Image" height="35"> {{rental.finder.firstName}} {{rental.finder.lastName}}<br>
				    	Date: {{rental.date}}<br>
				    	Start Time: {{rental.timestart}}<br>
				    	Duration: {{rental.duration}} Hours<br></td>
				  </tr>
				  {% endif %}
				  {% endfor %}
				</table>
			</div>

			<div class="privacy about">
				<br>
				<br>
				<h3>Past rentals <span style="float:right;font-size:15px">Powered by <img src="/static/images/hyperledger.png" height="30"></span></h3>
				<br>
				<table id="customers">
				  <tr>
				    <th>Space</th>
				    <th>Details</th>
				  </tr>
				  {% for rental in rentals %}
				  {% if rental.before %}
				  <tr>
				    <td valign="top"><br><p style="padding-left:3px">{{rental.property.Name}}</p></td>
				    <td>By 
				    	<img src="/static/uploads/{{rental.finder.picture}}.png" alt="Image" height="35"> {{rental.finder.firstName}} {{rental.finder.lastName}}<br>
				    	Date: {{rental.date}}<br>
				    	Time: {{rental.timestart}}<br>
				    	Duration: {{rental.Duration}} Hours<br></td>
				  </tr>
				  {% endif %}
				  {% endfor %}
				</table>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
{% endblock %}

