{% extends "layout.html" %}
{% block title %}My Spaces{% endblock %}
{% block subtitle %}My Spaces{% endblock %}
{% block content %}
	<div class="ads-grid_shop">
		<div class="shop_inner_inf">
			<div class="privacy about">
				<h3>My Spaces<a href="/addProperty"><i class="fa fa-plus" style="font-size:25px; float:right;color:#4169E1;padding-right: 10px;"></i></a></h3>
				<br>
				{% if properties %}
				<table id="customers">
				  	<tr>
				    	<th>Space</th>
				    	<th>Options</th>
				  	</tr>
				  	{% for properti in properties %}
				 	<tr>
					    <td valign="top">
					    	<p style="padding-left:3px">{{ properti['Name'] }} @ {{ properti['Address'] }}
					    	{% if properti['verified'] %}
					    	<i class="fa fa-check-circle" style="color:#4169E1"></i></p>
					    	{% endif %}
					    </td>
					    <td>
					    	{% if properti['verified'] %}
					    	<a href="/calendar/{{ properti['propertyId'] }}">Calendar (Choose Available Time)</a><br>
					    	{% endif %}
					    	<a href="/editProperty/{{ properti['propertyId'] }}">Edit</a>
				    	</td>
				  	</tr>
				  	{% endfor %}
				</table>
				{% else %}
				<h5>You have not added any property yet!</h5>
				{% endif %}
			</div>
		</div>

		<div class="clearfix"></div>
	</div>
{% endblock %}